main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
table {

    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}
table tr:nth-child(even){
        background-color: #f2f2f2;
    }
.update_button{
    background-color: #04AA6D
}
.add_button{
    background-color: #04AA6D
}